@font-face {
    font-family: 'MyFont';
    src: url('../assets/Rubik.ttf');
}

@page {
    size: A4;
    margin: 0;
}

.container {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 20px;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    background-color: #f9f9f9;
    font-family: MyFont;
}

.header {
    text-align: justify;
    margin-bottom: 20px;
    width: 100%;
    color: #333;
}

.name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.contactItem {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.mainContent {
    flex: 3;
    margin-right: 20px;
}

.section {
    margin-bottom: 20px;
}

.sectionTitle {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
}

.entry {
    margin-bottom: 15px;
}

.entryTitle {
    margin: 0;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    margin-left: 20px;
}

.entryDetails {
    margin: 5px 0;
    color: #777;
    font-size: 14px;
    text-align: justify;
    margin-left: 20px;
}

.achievementList {
    margin: 5px 0;
    padding-left: 20px;
}

.achievementItem {
    margin: 3px 0;
    /* color: #777; */
    font-size: 14px;
}

.aside {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    background-color: #082c69;
    color: white;
}

.aside .sectionTitle {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
}

.photo {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.skillsList {
    list-style-type: none;
    padding: 0;
}

.skillItem {
    margin: 5px 0;
    /* color: #555; */
    font-size: 14px;
}