.expandable-window {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.arrow {
    font-size: 12px;
    user-select: none;
}

.expandable-window.expanded form {
    padding-top: 10px;
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
    height: auto;
    max-height: 500px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.expandable-window form {
    opacity: 0;
    transform: scaleY(0);
    visibility: hidden;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.expandable-window form label {
    display: block;
    margin-bottom: 5px;
}

.expandable-window form input[type="text"] {
    width: 95%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
