.experience-form {
    padding: 10px;
}

.experience-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-form button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.experience-form form label {
    margin-bottom: 5px;
}

.experience-form form div {
    width: 100%;
}

.experience-form form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 95%;
}

.experience-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.experience-card h3 {
    margin: 0;
}

.experience-card p {
    margin: 5px 0;
}

.experience-card button {
    margin-right: 5px;
}