.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 20px; */
}

.column-left,
.column-middle,
.column-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.column-middle {
    flex-grow: 2;
}